@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");

.container {
  width: 1200px;
  margin: 0 auto;
}

/* HEADER !!!!!! */

header {
  font-family: "Caveat Brush", cursive;
  background-image: url(../img/planches.jpg);
  background-size: 46%;
}

.top {
  display: flex;
  justify-content: space-between;
}

.ligne {
  position: relative;
  font-size: 1em;
  top: 8px;
  border-radius: 10px 10px 50px 10px;
}

h1 {
  position: relative;
  bottom: 25px;
  margin-left: 40px;
}
.ligne::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  bottom: 2px;
  left: 0;
}

.ligne {
  vertical-align: super;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-right: 25px;
}

.rettangolo {
  background-color: #e53f6f;
  width: 30px;
  height: 8px;
  position: absolute;
  top: 6.5%;
  left: 22%;
}
.img {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-header {
  width: 200px;
  height: 200px;
  z-index: 10;
}

.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 80px;
  border-color: #e53f6f #e53f6f transparent transparent;
  position: relative;
  top: -180px;
  left: -18px;
  z-index: 5;
}

.arrow {
  width: 50px;
  height: 50px;
  border-style: solid;
  border-color: transparent #e53f6f #e53f6f transparent;
  transform: rotate(45deg);
  position: relative;
  left: 47.5%;
  top: -85px;
}

a {
  text-decoration: none;
  color: black;
}

/* MAIN !!!!!!! */

section {
  display: flex;
  flex-direction: column;
  margin-top: -56px;
  text-align: center;
}

.grand-top {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.grand-middle {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: -3.5px;
}
.grand-bottom {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: -4px;
}

.small-top-1 {
  flex: 2;
  margin: 0 15px;
}
.small-top-2 {
  flex: 4;
}

.rettangolo-2 {
  background-color: #e53f6f;
  width: 30px;
  height: 8px;
  position: relative;
  left: 45%;
  margin: 0;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 30px;
}

.red {
  color: #e53f6f;
  font-weight: bold;
}

.small-middle-1 {
  flex: 4;
}

.small-middle-2 {
  flex: 1.5;
  margin: 0 15px;
}

.taille-middle {
  width: 100%;
}

.img-text-middle {
  width: 50%;
}

.small-bottom-1 {
  flex: 2;
  margin: 0 15px;
}

.small-bottom-2 {
  flex: 4.2;
}

.img-text-bottom {
  width: 60%;
  margin-bottom: -30px;
}

.taille-bottom {
  width: 100%;
}

.taille-top{
  transform: rotatey(180deg);
}

/* FOOTER !!!!!!! */

footer > div {
  margin-top: -5px;
}
.img-footer {
  width: 100%;
  height: 550px;
}

.fine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../img/motif.jpg);
  background-size: 20%;
  height: 400px;
}

.ce-soir {
  font-family: "Caveat Brush", cursive;
}

.footer {
  margin-left: 40px;
}

.ligne-2 {
  position: relative;
  font-size: 1em;
  top: 8px;
  border-radius: 10px 10px 50px 10px;
}

.ligne-2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  bottom: 2px;
  left: 0;
}

.ligne-2 {
  vertical-align: super;
}

.rettangolo-3 {
  background-color: #e53f6f;
  width: 30px;
  height: 8px;
  position: relative;
  left: 36%;
  bottom: 20px;
  margin: 0;
}

.footer-2 {
  position: relative;
  top: 22%;
  justify-content: space-around;
  margin-right: 40px;
}

.su {
  margin: 0 0 20px 0;
}

.footer p {
  font-size: small;
}

.adjust{
    margin-top: 25px;
    margin-bottom: -15px;
}
.adjust-2{
    margin-bottom: -15px;
}

i{
  margin: 3px;
}


@media (max-width: 768px){
  .rettangolo{
    top: 11%;
    left: 10%;
  }
}

@media (max-width: 425px){
  section{
    margin-top: 20px;
  }
  body{
    width: 100%;
  }
  .grand-top{
    flex-direction: column;
    margin: 0;
  }

  .small-middle-2 p{
    margin: auto;
    font-size: 40px;
  }

  .grand-middle{
    flex-direction: column;
    margin: 0;
  }

  .small-bottom-1 p{
    margin: auto;
    font-size: 40px;
  }

  .grand-bottom{
    flex-direction: column;
    margin: 0;
  }

  .small-top-1 p{
    margin: auto;
    font-size: 40px;
  }

  .small-top-1 {
    width: 500px;
    height: 500px;
    margin-bottom: 40px;
  }
  .small-bottom-1 {
    width: 500px;
    height: 500px;
    margin-bottom: 20px;
  }
  .small-bottom-2 {
    margin-bottom: 20px;
  }
  .small-middle-2 {
    width: 500px;
    height: 400px;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .taille-top{
   margin: 0;
  }

  .taille-middle{
    width: 200%;
    height: 100%;
    margin-left: -50px;
  }

  section > div:nth-child(even) {
    flex-direction: column-reverse;
  }

  .small-middle-1{
    width: 30%;
    margin-left: -200px;
  }
  .rettangolo{
    left: 23%;
    top: 17.5%;

  }

  h2{
    margin-bottom: 5px;
  }
  h1{
    font-size: 50px;
  }
  nav ul {
    font-size: 30px;
  }

  .su p{
    font-size: 30px;
  }
  .giu p{
    font-size: 30px;
  }
  .ce-soir{
    font-size: 40px;
  }

  .rettangolo-3{
    bottom: 100%;
    left: 30%;
  }
}


